.root {
    -fx-font-family: "Baskerville Old Face";

}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #ba9172;

}

#main {
    -fx-font-family: "Century Schoolbook";
    -fx-background-color: #ba9172;
    -fx-font-size: 14px;
    -fx-padding: 10px, 10px, 0, 10px;
}

#login {
    -fx-font-size: 16px;
}

#login-box {
    -fx-background-color: rgba(255,255,255,0.50);
    -fx-padding: 25;
    -fx-background-radius: 40;
    -fx-font-weight: bold;
    /*-fx-border-radius: 50;*/
}

#add-update {
    -fx-font-family: "Century Schoolbook";
    -fx-background-color: #ba9172;
    -fx-font-size: 14px;
    -fx-padding: 10px, 10px, 0, 10px;
}

#book-buttons, #delete-buttons, #delete-confirm {
    -fx-spacing: 10px;
}

#author-add-button, #author-rmv-button, #genre-add-button, #genre-rmv-button {
    -fx-background-color: #7a2b31;
    -fx-text-fill: white;
}

#genre-stats, #status-stats {
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 0px 0px, 50px, 50px;
}